# JWT Configuration
SECRET_KEY=el-codigo-secreto
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database
DATABASE_URL=sqlite:///./metrovalencia.db

# API Configuration
API_V1_PREFIX=/api/v1
PROJECT_NAME=Metrovalencia API

# External API
METRO_API_BASE_URL=https://geoportal.valencia.es/geoportal-services/api/v1
METRO_API_TIMEOUT=10

# NUEVA API FGV la anterior es muy inestable
FGV_API_BASE_URL=https://www.fgv.es/ap18/api/public/es/api/v1/V/horarios-prevision-3

